.product {
  font-size: 18px;
  font-style: italic;
}
.align{
  text-align: justify;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  background-color: rgba(0, 238, 255, 0.582);
  display: inline-block;

}